<!DOCTYPE html>
<html>
<head>
    <title>Scrumptious</title>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.mobile-1.2.0.js"></script>

</head>
<body>
<!-- Facebook JavaScript -->
<div id="fb-root"></div>


<!-- Login page -->
<div data-role="page" id="login" class="type-home">
    <div data-role="content">
        <div id="login-header">
            <img src="images/scrumptious_logo.png" alt="Scrumptious" /><span class="tagline">Scrumptious</span>
        </div>
        <div id="login-intro">
            <p class="intro">To get started, login using Facebook</p></div>
    </div>
    <div class="login-button">
        <a href="<%- loginUrl %>"><img src="images/fblogin.png"></img></a>

    </div>
</div>


  </body>
</html>